<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAgkvLevbjmRoPxCJW-kuGP3ILVm8pUaE0</string>
	<key>GCM_SENDER_ID</key>
	<string>435588495760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.labManajemenSekolah.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>lab-manajemen-sekolah</string>
	<key>STORAGE_BUCKET</key>
	<string>lab-manajemen-sekolah.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435588495760:ios:2bc991595f17ee89d29b15</string>
</dict>
</plist>